.dashboard-card {
  position: absolute;
  top: 16px;
  left: 8px;
  right: 8px;
  bottom: 16px;
}

.grid-card {
  height: 100%;
  width: 100%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
