<div class="grid-container"
  gdGap.lt-lg="8px"
  gdGap.gt-md="16px"
  gdColumns.gt-md="repeat(12, 1fr)"
  gdColumns.lt-lg="repeat(8, 1fr)"
  gdRows="auto!">

  <h1 class="mat-display-1 mb-3"
    gdColumn.gt-md="span 12"
    gdColumn.lt-lg="span 8">Angular Material Sidenav Grid</h1>

  <mat-list role="list"
    gdColumn.gt-md="span 12"
    gdColumn.lt-lg="span 8">

    <mat-list-item role="listitem">
      <mat-icon color="primary">arrow_right</mat-icon> Material Sidenav based on Flex Layout Grid
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-icon color="primary">arrow_right</mat-icon> Material Sidenav Container with a working Angular Router on
      Anchor-Scrolling
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-icon color="primary">arrow_right</mat-icon> Custom Light and Dark Theme
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-icon color="primary">arrow_right</mat-icon> Custom Components styled with Material Theme
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-icon color="primary">arrow_right</mat-icon> Smart Navigation Bar
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-icon color="primary">arrow_right</mat-icon> Lazy Loading Feature Modules
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-icon color="primary">arrow_right</mat-icon> Sticky Footer
    </mat-list-item>

  </mat-list>

</div>
